<% 

provide(:title, @user.name) 

activities = @user.activities.clone
activities.sort_by{|e| e[:activity_date]}

totalCaloriesBurned = 0

activities.each do |activity| 
  if(activity.activity_date > @user.sins.first.date)
    totalCaloriesBurned += activity.calories
  end
end

%>

<div class="row">
  <aside class="span12">
    <section>
      <h1><%= @user.name %></h1>
      <% if @user == current_user && current_user.rk_token %>
        <%= link_to "Sync Activities", '/getactivities', class: "btn btn-large btn-primary" %>
      <% elsif @user == current_user %>
        <%= link_to "Connect to RunKeeper", '/auth/runkeeper', class: "btn btn-large btn-primary" %>
      <% end %>
      <% if @user.rk_token %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Binge Type</th>
            <th>Date</th>
            <th>Calories Consumed</th>
            <th>Percent complete</th>
          </tr>
        </thead>
        <tbody>
          <% @user.sins.each do |sin| %>

            <%

            # Get the sin type
            sintype = SinType.find(sin.sin_type_id)

            # Get the calorie count of this sin
            sinCalories = sintype.calories * sin.quantity 

            # Get the percentage
            percentage = '0%'

            if(totalCaloriesBurned - sinCalories > 0)
              percentage ='100%'
            else
              calorieRatio = totalCaloriesBurned / sinCalories * 100
              if(calorieRatio > 0)
                percentage = calorieRatio.floor + '%'
              end 
            end

            %>

            <tr>
              <td><%= sintype.name %></td>
              <td><%= sin.date %></td>
              <td><%= sinCalories %></td>
              <td><%= totalCaloriesBurned.to_s + ' ' + percentage.to_s 
              totalCaloriesBurned -= sinCalories %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </section>
  </aside>
</div>