<h1>Listing Sin Types</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Calories</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sin_types.each do |sin_type| %>
  <tr>
    <td><%= sin_type.name %></td>
    <td><%= sin_type.calories %></td>
    <td><%= link_to 'Show', sin_type %></td>
    <td><%= link_to 'Edit', edit_sin_type_path(sin_type) %></td>
    <td><%= link_to 'Destroy', sin_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sin type', new_sin_type_path %>
